nav {
  position: relative;
  z-index: 150;
  background: #2D4FD6;
  .brand-logo {
    @media(min-width: 992px) {
      margin-left: 2rem;
    }
  }
  ul {
    margin-right: 2rem;
  }
}

.sidenav {
  h5 {
    margin-left: 1rem;
    text-decoration: underline;
  }
}