.update-class-block {
  height: 1rem;
  margin-bottom: -1rem;
}

.general-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #5E34FA;
  @media (min-width: 600px) {
    margin-top: 2.5rem;
    border-radius: 5px;
  }
  
  h4 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .tools {
      display: flex;
      justify-content: flex-end;
      padding-right: 0.5rem;
      margin-bottom: 0;
      i {
        cursor: pointer;
      }
  }

  }

  p {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    a {
      margin-right: 0.5rem;
    }
  }
}

#lessonsBlock {
  .create-lesson-block {
    margin-top: 2rem;
    margin-bottom: 2rem;
    a {
      background: #4CFAAE;
    }
  }

  .collection {
    border: none;
  }
}

#gradeBook {
  overflow-x: scroll;
}

li {
  &.tab {
    a {
      color: #5E34FA !important;
      i {
        margin: 0.7rem;
      }
    }
  }
  &.indicator {
    background: #5E34FA !important;
  }
}