.NotificationsBlock {
  position: absolute;
  background: #FFF;
  width: 30%;
  top: -100%;
  right: 8rem;
  height: 15rem;
  z-index: 100;
  transition: all ease-in-out .7s;
  li {
    &.tab {
      a {
      color: #2D4FD6 !important;
      }
    }
    &.indicator {
      background: #2D4FD6;
    }
  }
  .row {
    div {
      overflow-y: auto;
    }
  }
  &.open {
    top: 4.2rem;
  }
}