.navigationBlock {
  display: flex;
  a {
    height: 100%;
    color: #5e5e5e;
    margin-left: 1rem;
    &:hover {
      text-decoration: underline;
    }
    h5 {
      margin-bottom: 0;
    }
    p {
      margin-top: 0;
    }
  }
}