table {
  overflow-x: scroll !important;
  tr {

    th:not(:first-child) {
      text-align: center;
    }

    td:first-child(1) {
      position: sticky;
    }

    td:not(:first-child) {
      display: flex;
      justify-content: center;
      .marks-input {
        width: auto !important;
        text-align: center;
      }
    }
  }
}