.LessonCheck {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-bottom: 1px solid darkgray;
  border-top: 1px solid darkgray;
  .input-field {
    input {
      text-align: center;
    }
  }
  div.collection {
    border: none;
    &:not(:last-child) {
      border-right: 1px solid darkgray;
    }
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
    .users > div, .works > div {
      height: 10rem;
      overflow-y: scroll;
    }
  }
}